/* --- New to version 2.3: Styling classes for animated SVG weather icons --- */
/* .weather-icon-svg: For the main weather condition and forecast day icons */
/* .sunrise-sunset-icon-svg: For the sunrise and sunset icons */
/* .weather-alert-icon-svg: For the icons used in weather alerts */
/* .wind-icon-svg: For the wind icon in the "extra details" section */

/* --- Weather Widget Styling --- */
.weather-widget {
	min-height: 285px;
	/* This setting is optional */ 
	/* However, setting a minimum height helps to reduce browser repaints */
	/* When sunrise sunset is shown, consider using, min-height: 375px; */
}

.weather-location-name {
	border-bottom: 2px solid #eee;
	font-size: 1.375em;
	font-weight: bold;
	margin-bottom: 15px;
	padding-bottom: 7px;
	text-align: center;
}

.current-weather {
	align-items: center;
	border-bottom: 2px solid #eee;
	display: flex;
	justify-content: space-around;
	margin-bottom: 8px;
	padding: 10px;
}

.current-temp {
	font-size: 2.5em;
	font-weight: 700;
}

.current-conditions {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1.125em;
	text-transform: capitalize;
}

.current-conditions img {
	filter: drop-shadow(1px 2px 3px #555);
	height: 50px;
	width: 50px;
}

/* --- NEW SVG STYLES --- */
.current-conditions .weather-icon-svg {
    filter: none; /* No Drop Shadow on animated SVGs */
    width: 75px;
    height: 75px;
}
/* --- END NEW SVG STYLES --- */

.forecast-container {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.forecast-day {
	flex: 1;
	padding: 5px;
}

.forecast-day-name {
	color: #444;
	font-size: 1em;
	margin-bottom: 8px;
}

.forecast-day img {
	filter: drop-shadow(1px 2px 3px #666);
	height: 40px;
	width: 40px;
}

/* --- NEW SVG STYLES --- */
.forecast-day .weather-icon-svg {
    filter: none;
    width: 50px;
    height: 50px;
}
/* --- END NEW SVG STYLES --- */

.forecast-temps .slash {
	color: transparent;
	font-size: 0.375em;
	/*Change the color and size to see the / between high and low */
}

.forecast-temps .high {
	color: #000;
	font-size: 1.06em;
	font-weight: 700;
}

.forecast-temps .low {
	color: #555;
	font-size: 0.875em;
}

.today-forecast-temps {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.today-forecast-label {
	font-size: 1.375em;
	margin: 6px 0 11px;
}

.today-forecast-temps .temps-wrapper .slash{
	color: transparent;
	font-size: 0.55em;
	/*Change the color and size to see the / between high and low */
}

.today-forecast-temps .high {
	color: #000;
	font-size: 2.25em; /* Converted from 36px */
	font-weight: 700;
}

.today-forecast-temps .low {
	color: #555;
	font-size: 1.625em; /* Converted from 26px */
	font-weight: 400;
}

.today-forecast-temps .temp-unit {
	color: #666;
	font-size: 0.94em; /* Converted from 15px */
	font-weight: 400;
	position: relative;
	top: -8px;
}

.weather-widget .wi {
	color: #555;
	font-size: 45px;
	line-height: 1;
	margin-bottom: 5px;
}

.forecast-day .wi {
	font-size: 40px;
}

.weather-extra-details {
	border-bottom: 1px solid #eee;
	color: #555;
	display: flex;
	font-size: .9em;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 10px 5px;
}

.wind-details {
	align-items: center;
	display: flex;
}

.wind-details .wi {
	font-size: 1.5em;
	line-height: 1;
	margin-right: 5px;
}

/* --- NEW SVG STYLES --- */
.wind-details .wind-icon-svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border:1.5px solid #e2e8f0;
    border-radius: 50%;
}
/* --- END NEW SVG STYLES --- */

.last-updated {
	color: #999;
	font-size: .8em;
	margin-top: 10px;
	text-align: center;
	border-top: 1px solid #eee;
	padding-top: 5px;
}

/* --- Weather Alert Styling --- */

.weather-alert {
    display: flex;
    align-items: center; /* Vertically aligns the icon with the text block */
    background-color: #f0f8ff;
    border: 1px solid #add8e6;
    border-radius: 4px;
    padding: 10px 12px;
    margin-bottom: 15px;
    color: #333;
}

.weather-alert-icon-left {
    margin-right: 12px;
}

.weather-alert-message {
    flex-grow: 1; /* Allows the message area to take up remaining space */
}

.weather-alert-event {
    font-weight: bold;
    margin-bottom: 4px;
}

.weather-alert-sender {
    font-size: 0.9em;
    opacity: 0.8;
}

.weather-alert-icon-left .weather-alert-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.weather-alert-icon-left .wi {
    font-size: 2em;
    line-height: 1;
}

/* --- NEW SVG STYLES --- */
.weather-alert-icon-left .weather-alert-icon-svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
/* --- END NEW SVG STYLES --- */


/* --- Sunrise & Sunset Styling --- */

.sunrise-sunset-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    color: #555;
}

.sunrise-time, .sunset-time {
    flex-basis: 50%;
}

.sunrise-sunset-label {
    font-size: 1em;
	margin: 0 0 0 10px;
	display: inline;
}

.sunrise-sunset-value {
    font-weight: bold;
    font-size: 1.375em;
}

.sunrise-sunset-container .wi {
    font-size: 30px;
    line-height: 1;
    color: #f28c1f;
	display: inline;
}

.sunrise-sunset-container .sunrise-sunset-icon {
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px 2px 2px #888);
	display: inline;
}

/* --- NEW SVG STYLES --- */
.sunrise-sunset-container .sunrise-sunset-icon-svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

/* Adjust layout for SVG icons */
.sunrise-time, .sunset-time {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --- END NEW SVG STYLES --- */
