/* Weather Widget Styling */
.weather-widget {
	min-height: 285px;
	/*this setting can be removed. However, etting a minimum height helps to reduce browser repaints */
}

.weather-location-name {
	border-bottom: 2px solid #eee;
	font-size: 18px;
	margin-bottom: 15px;
	padding-bottom: 7px;
	text-align: center;
}

.current-weather {
	align-items: center;
	border-bottom: 2px solid #eee;
	display: flex;
	justify-content: space-around;
	margin-bottom: 8px;
	padding: 10px;
}

.current-temp {
	font-size: 2.5em;
	font-weight: 700;
}

.current-conditions {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	text-transform: capitalize;
}

.current-conditions img {
	filter: drop-shadow(1px 2px 3px #555);
	height: 50px;
	width: 50px;
}

.forecast-container {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.forecast-day {
	flex: 1;
	padding: 5px;
}

.forecast-day-name {
	color: #444;
	font-size: 14px;
	margin-bottom: 8px;
}

.forecast-day img {
	filter: drop-shadow(1px 2px 3px #666);
	height: 40px;
	width: 40px;
}

.forecast-temps {
	color: #fff;
	font-size: 6px;
	/*Change the color and size to see the / between high and low */
}

.forecast-temps .high {
	color: #000;
	font-size: 17px;
	font-weight: 700;
}

.forecast-temps .low {
	color: #666;
	font-size: 14px;
}

.today-forecast-temps {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.today-forecast-label {
	font-size: 18px;
	margin: 6px 0 11px;
}

.today-forecast-temps .temps-wrapper {
	color: #fff;
	font-size: 9px;
	/*Change the color and size to see the / between high and low */
}

.today-forecast-temps .high {
	color: #000;
	font-size: 36px;
	font-weight: 700;
}

.today-forecast-temps .low {
	color: #666;
	font-size: 26px;
	font-weight: 400;
}

.today-forecast-temps .temp-unit {
	color: #777;
	font-size: 15px;
	font-weight: 400;
	position: relative;
	top: -8px;
}

.weather-widget .wi {
	color: #666;
	font-size: 45px;
	line-height: 1;
	margin-bottom: 5px;
}

.forecast-day .wi {
	font-size: 40px;
}

.weather-extra-details {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: #555;
	display: flex;
	font-size: .9em;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 10px 5px;
}

.wind-details {
	align-items: center;
	display: flex;
}

.wind-details .wi {
	font-size: 1.5em;
	line-height: 1;
	margin-right: 5px;
}

.last-updated {
	color: #999;
	font-size: .8em;
	margin-top: 15px;
	text-align: center;
}